<div style="min-height: 400px">
    <div class="row">
        <div class="loading" ng-show="isMyTravelsLoading">
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
        </div>
        <div ng-hide="isMyTravelsLoading">
            <div class="text-center text-danger" ng-show="travels.length==0">No Travels Planned Yet!!</div>
            <div class="col-md-4" style="margin-top: 2%;" ng-hide="travels.length==0"
                 ng-repeat="travel in travels track by $index">
                <div class="post">
                    <div class="post-img-content text-center"
                         ng-style="{'background-color':getTitleColor(travel.title)}">
                        <!--<img class="img-responsive" src="https://placehold.it/460x250/e67e22/ffffff&text=Goa"
                             class="img-responsive"/>-->
                        <p style="color:whitesmoke;font-size: 25px;">{{travel.title}}</p>
                    </div>
                    <div class="content">
                        <div class="author">
                            By <b>{{travel.createdBy}}</b> |
                        </div>
                        <div>
                            <a ng-click="getTravel(travel._id)" class="btn btn-warning btn-sm ">View Plan</a>
                            <a ng-click="deleteTravel(travel._id)" class="btn btn-danger btn-sm ">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>